<div class="row">

  <div class="col-xs-3 col-md-4"></div>

  <div class="card w-50 col-xs-6 col-md-4 mt-3">
    <div class="card-body">

      <h1>Login</h1>
      <hr>

      <form #loginForm="ngForm" (submit)="onLogin(loginForm)">

        <div class="form-group">
          <label for="email">E-mail</label>
          <input name="email" ngModel class="form-control" #emailInput="ngModel" required email>
        </div>
        <div *ngIf="emailInput.invalid">
          Por favor, preencha um e-mail válido.
        </div>

        <div class="form-group">
          <label for="cpf">CPF</label>
          <input name="cpf" ngModel class="form-control" placeholder="Digite apenas números." #cpfInput="ngModel" required>
        </div> 
        <div *ngIf="cpfInput.invalid">
            Por favor, preencha um CPF válido.
        </div>

        <!-- <div class="form-group">
          <label for="password">CPF</label>
          <input type="password" name="password" ngModel class="form-control" #password Input="ngModel"
            required>
        </div>
     -->
        <div>
          <button type="submit" class="btn btn-primary mr-2">
            Entrar
          </button>
          <button type="reset" class="btn btn-danger">Limpar</button>
        </div>

      </form>

    </div>
  </div>
</div>
