.movie-poster{
    align-self: center;
    max-width: 300px;
}

.movie-title{
    margin-top: 10px;
}

.text-box {
    text-align: center;
}

.movie-card {
    text-align: center;
}

.smaller {
    font-size: 12px;
}

.text-justified {
    text-align: justify;
}