<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">

    <a class="navbar-brand" style="cursor: default;">MovieDB API</a>

    <li class="nav-item" *ngIf="userIsAuthenticated">
      <a class="nav-link nb-link" style="cursor: pointer;" (click)="onLogout()">Logout</a>
    </li>
    <li class="nav-item" *ngIf="!userIsAuthenticated">
      <a class="nav-link nb-link" routerLink="/login">Login</a>
    </li>
    <li class="nav-item" *ngIf="!userIsAuthenticated">
      <a class="nav-link nb-link" routerLink="/cadastro">Cadastrar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nb-link" routerLink="#">Filmes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>

  </ul>
</nav>