<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">

    <a class="navbar-brand" style="cursor: default;">MovieDB API</a>

    <li class="nav-item">
      <a class="nav-link nb-link" routerLink="#">Listar Clientes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nb-link" routerLink="#">Cadastrar</a>
    </li>
    <li class="nav-item">
      <a class="nav-link nb-link" routerLink="#">Filmes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>

  </ul>
</nav>